<!-- <div class="container-fluid "> -->
<!-- <div class="row"> -->
<div class="col-md-12  ">
    <nav class="navbar navbar-expand-lg bg-body-tertiary  ">
        <div class="container-fluid p-0">
            <!-- <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button> -->
            <div class="collapse navbar-collapse " id="navbarSupportedContent"
                style="border-bottom: 3px solid yellowgreen;">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item ps-0" routerLinkActive="active">
                        <a class="nav-link" routerLink="/dashboard">
                            <i class="bi bi-speedometer2 pe-2"></i> Dashboard
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/agent-management">
                            <i class="bi bi-person-badge pe-2"></i> Agent Management
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/calendar">
                            <i class="bi bi-person-badge pe-2"></i> Calendar
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/ez-quote">
                            <i class="bi bi-file-earmark-text pe-2"></i> EZ Quote
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link " routerLink="/lead-management">
                            <i class="bi bi-person-lines-fill pe-2"></i> Lead Management
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/activities">
                            <i class="bi bi-list-check pe-2"></i> Activities
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/workflow">
                            <i class="bi bi-diagram-3 pe-2"></i> Workflow
                        </a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a class="nav-link" routerLink="/chats">
                            <i class="bi bi-chat-dots pe-2"></i> Chats
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
<!-- </div> -->
<!-- </div> -->